@using BankWEB.Models.Enums;
@using BankWEB.Helpers;
@{
    ViewData["Title"] = "Transfers";
}
@model Client

<div class="container my-4">
    <div class="home-info-container mb-4">
        <h2>Select Account</h2>
        <div id="carouselAccounts" class="carousel carousel-dark slide d-flex gap-3" data-bs-interval="false">
            <button class="carousel-control-prev position-static bg-white rounded-start-3" type="button" data-bs-target="#carouselAccounts" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <div class="carousel-inner fs-5">
                @foreach (var acc in Model.Accounts)
                {
                    <div class="carousel-item">
                        <div id="@acc.Id" class="carousel-account">
                            <span class="acc-name">@acc.Title</span>
                            <span class="money">@acc.Money.ToString("N2")</span>
                            <span class="currency">@acc.Currency</span>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-next position-static bg-white rounded-end-3 " type="button" data-bs-target="#carouselAccounts" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="home-info-container mb-4">
        <h2>Select Recipient</h2>
        <div class="input-group">
            <input id="search-inp" type="search" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="search-line">
            <span class="input-group-text" id="search-line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </span>
        </div>
        <select id="recipient-select" class="form-select bg-transparent border-0 p-0 pe-2" size="8" aria-label="Size 3 select example">
            @foreach (var client in ViewData["Clients"] as IEnumerable<Client>)
            {
                <option value="@client.Id">@client.Username</option>
            }
        </select>
     </div>
    <div class="home-info-container">
        <h2>Transfer Amount</h2>
        <div class="input-group">
            <input type="number" id="transfer-input" class="form-control money-input" placeholder="0" aria-label="Amount money" aria-describedby="currency-helper" required step="0.01" min="1" max="1000000">
            <span class="input-group-text" id="currency-helper">RUB</span>
            <span class="input-group-text text-bg-danger border-0" id="search-line">Commission @Converters.StatusToCommission[Model.Status] %</span>
        </div>
        <button type="button" id="btn-transfer" onclick="SendRequest" class="btn btn-primary" disabled>Transfer</button>
    </div>
</div>

@section Scripts {
    <script defer src="~/js/SliderAccChanger.js"></script>
    <script src="~/js/TransferSendRequest.js"></script>
    <script defer src="~/js/MoneyInput.js"></script>
    <script defer src="~/js/Search.js"></script>
    <script>
        var AccountArray;
        var ClientArray;
        var CurrencyEnum;
        $(function () {
            ClientArray = @Html.Raw(Json.Serialize(ViewData["Clients"] as IEnumerable<Client>));
            AccountArray = @Html.Raw(Json.Serialize(Model.Accounts));
            CurrencyEnum = JSON.parse(@(Html.Raw(Json.Serialize(HtmlEnumExtensions.EnumToString<Currency>()))));
            });
    </script>
}